doctype html
html   
    head
        title #{pageTitle} | #{siteName}
    body
        h1 #{title}
            each movie in movies
                a(href=`/${movie.id}`)
                    p= movie.title
